<%- include('./partials/header.ejs') %>  
<%# lnl rfrence nt wrkin %>
<body>
        <link rel="stylesheet" href="style.css">
        <style>
            body{
                padding-top: 65px;
                padding-left: 20p;
            }
            </style>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
              
                    <% for( var index = 0; index < games.length; index++ ) { %>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card" style="width: 15rem;height: 15rem;">
                                    <img src="gameimage/<%=games[index].thumbnail%>" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;">
                                    <div class="card-body">
                                      <h5 class="card-title"><%=games[index].title %></h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="game/<%=games[index].title %>/<%=games[index].creator %>/<%=games[index].width %>/<%=games[index].height %>/<%=games[index].filename %>" class="btn btn-primary">Play</a>
                                        <style>
                                            body{
                                                display: block;
                                                width: 100%;
                                            }
                                        </style>
                                    </div>
                                  </div>
                            </div>
                        </div>
                                
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>